<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <title>Mealsmack</title>
</head>
<body style="background-color: rgba(201, 209, 208, 0.342); font-family: 'Poppins', sans-serif;">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 4rem;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 2rem; ">
            <a class="navbar-brand" th:href="@{/home}" style="font-weight: 700; text-align: right;">
                <img src="logo.png" width="40px" height="40px" style="margin-right:1rem" alt="logo">Mealsmack</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}" style="font-weight: 600; margin-left: 68rem;" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/restaurants}" style="font-weight: 600; margin-left: 1.5rem;">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-weight: 600; margin-left: 1.5rem;" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}" style="font-weight: 600; margin-left: 1.5rem;" >Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>-->

<th:block xmlns:th="http://www.thymeleaf.org">
<div class="row mb-4" style="margin: 3rem">
    <div class="col d-flex justify-content-center">
        <h1>Take a look at all the places <br> </h1>
    </div>
</div>
<div class="row mb-4">
    <div class="col d-flex justify-content-center">
        <h1><u>you can dine in Skopje!</u><br> </h1>
    </div>
</div>

<div style="margin: 3rem; text-align: center;" >
</div>

<div style="display: flex; justify-content: space-evenly;">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1jswcVd0ViFzvGXjZWzB1-XRF51MT5k8&ehbc=2E312F" width="1240" height="840"></iframe>
</div>

<div class="row mb-4" style="margin: auto; width: 70%; font-style: italic">
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(2,136,209)"><p style="margin-left: 1rem"><u>Centar</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(230,81,0)"><p style="margin-left: 1rem"><u>Aerodrom</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(255,214,0)"><p style="margin-left: 1rem"><u>Karposh</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(0,151,167)"><p style="margin-left: 1rem"><u>Kisela Voda</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(230,81,0)"><p style="margin-left: 1rem"><u>Gjorche Petrov</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(121,85,72)"><p style="margin-left: 1rem"><u>Cair</u></p></div>
    </div>
    <div class="col d-flex justify-content-center" style="margin-top: 1rem">
        <div style="width:10px;height:10px;border:1px solid #000; background: rgb(175,180,43)"><p style="margin-left: 1rem"><u>Gazi Baba</u></p></div>
    </div>

</div>

<div class="row mb-4" style="margin: auto;">
    <div class="col d-flex justify-content-center" style="margin-top: 4rem">
        <h5>..or get a more <a th:href="@{/restaurants}" style="font-style: italic">detailed view</a></h5>
    </div>
</div>

<hr style="margin-top: 3rem;">

</th:block>
<<!--div >
    <p style="text-align: center; font-weight: 700; font-size: large;margin-top: 1rem">&copy; Sergej Filipovski 181281</p>
</div>
</body>
</html>-->